{% extends "base.html" %}

{% block content %}
<h1>Admin Page</h1>

<!-- Links Section -->
<h2>Links</h2>
<p><a href="{{ url_for('main.judges_ballot') }}" class="btn btn-sm btn-success earth-btn">Ballot</a></p><br>
<p><a href="{{ url_for('admin.judges_results') }}" class="btn btn-sm btn-success earth-btn">View Results</a></p><br>
<p><a href="{{ url_for('admin.manage_badges') }}" class="btn btn-sm btn-success earth-btn">Manage Badges</a></p><br>
<p><a href="{{ url_for('admin.manage_judges') }}" class="btn btn-sm btn-success earth-btn">Manage Judges</a></p><br>
<p><a href="{{ url_for('admin.update_submission_dates') }}" class="btn btn-sm btn-success earth-btn">Update Submission Dates</a></p><br>

<!-- Logout Button Section -->
<h2>Logout</h2>
<form id="logout_form" method="POST" action="{{ url_for('auth.logout') }}">
    {{ logout_form.hidden_tag() }}
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

{% endblock %}
