{% extends "base.html" %}
{% block content %}
<h1>Judge Login</h1>

{% if current_user.is_authenticated %}
    <p>You are already logged in.</p>
{% else %}
    <p>Enter your credentials to log in:</p>
    <form method="POST" action="{{ url_for('main.judges_password') }}">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }} {{ form.name }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            <button type="submit">{{ form.submit.label }}</button>
        </div>
    </form>
{% endif %}

{% endblock %}