{% extends "base.html" %}
{% block content %}
<h1>User Login</h1>

{% if current_user.is_authenticated %}
    <p>You are logged in as {{ current_user.name }}.</p>
{% else %}
    <p>Enter your credentials to log in:</p>
    <form method="POST" action="{{ url_for('auth.judges_login') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }} {{ form.name }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            <button type="submit">{{ form.submit.label }}</button>
        </div>
    </form>
{% endif %}
{% endblock %}
