{% extends "base.html" %}

{% block content %}
<h1>Submission Successful</h1>
<p>Thank You for Your Submission!  Your badge design has been successfully submitted. We’re excited to review your creative work and appreciate your contribution to the Quest by Cycle project.  What’s next?      Our team will carefully review all submissions after the deadline.     If your design is selected, we’ll contact you at the email address you provided with next steps.  If you have any questions in the meantime, feel free to reach out to us at info@QuestByCycle.org.  Thank you for helping inspire sustainable living and cultural engagement through art!</p>
{% endblock %}
